<div
    class="bg-white shadow-md rounded-xl rounded-bl-none w-[90%] px-8 py-6 border border-gray-300"
    hx-get="{{ prompt_input_api }}"
    hx-trigger="load"
    hx-target="#prompt-input"
>
    <div class="flex items-center justify-between gap-4">
        <div id="prompt-input" class="flex-1 pr-2">
            Loading...
        </div>

        <button
            id="fund_button"
            type="button"
            class="bg-gray-700 hover:bg-gray-300 text-neutral-50 px-3 pb-1 rounded-full transition text-2xl"
            hx-get="{{ response_box_api }}"
            hx-target="#response-box"
            hx-trigger="click"
            hx-include="#fund_id"
            hx-swap="beforeend"
        >
            ↑
        </button>
    </div>
</div>
