<form id="prompt-form"
      hx-post="{{ response_box_api }}"
      hx-target="#response-box"
      hx-swap="beforeend"
      class="flex items-center w-full text-sm text-primary dark:text-primary-dark gap-4 pl-8"
>
  <div class="flex-grow flex flex-col gap-4">
    {% for input in form_inputs %}
      <div class="flex items-center">
        <label for="{{ input.name }}" class="text-primary dark:text-primary-dark text-sm font-semibold w-[120px]">{{ input.label }}</label>
        <input
          type="{{ input.input_type }}"
          id="{{ input.name }}"
          name="{{ input.name }}"
          class="text-primary border border-secondary text-sm px-4 py-1 rounded-md font-mono w-full max-w-[150px] mx-2"
          {% if input.step is not none %} step="{{ input.step }}" {% endif %}
          {% if input.required %} required {% endif %}
        />
      </div>
    {% endfor %}
  </div>

  <button
    type="submit"
    class="bg-primary dark:bg-primary-dark hover:bg-secondary hover:dark:bg-secondary-dark hover:text-primary hover:dark:text-primary-dark text-secondary dark:text-secondary-dark px-3 pb-1 rounded-full transition text-2xl ml-auto"
  >
    ↑
  </button>
</form>