<aside class="fixed top-0 left-0 h-screen w-64 bg-[#E6E6E6] dark:bg-[#2D2D2D] shadow-lg overflow-y-auto z-20">
  <div class="mt-4 ml-4 flex items-center">
      <img src="/static/Bitswan logo.svg" class="dark:hidden h-6">
      <img src="/static/Bitswan logo white.svg" class="hidden dark:block h-6">
      <img src="path-to-your-icon-1.svg" class="h-6 ml-2">
      <img src="path-to-your-icon-2.svg" class="h-6 ml-2">
  </div>

  <nav class="flex flex-col p-4 space-y-2 text-primary dark:text-primary-dark">
    <a href="#" class="hover:bg-secondary dark:hover:bg-secondary-dark px-4 py-2 rounded">Chat 1</a>
    <a href="#" class="hover:bg-secondary dark:hover:bg-secondary-dark px-4 py-2 rounded">Chat 2</a>
    <a href="#" class="hover:bg-secondary dark:hover:bg-secondary-dark px-4 py-2 rounded">Chat 3</a>
    <a href="#" class="hover:bg-secondary dark:hover:bg-secondary-dark px-4 py-2 rounded">Chat 4</a>
  </nav>
</aside>