<div id="webchat_prompt"
     class="bg-white shadow-md rounded-xl rounded-tr-none w-[90%] px-8 py-6 flex items-center border border-gray-300">
    {{ prompt_html | safe }}
    <button
            id="fund_button"
            type="button"
            class="bg-gray-700 hover:bg-gray-300 text-neutral-50 px-3 pb-1 rounded-full transition text-2xl"
            hx-get="{{ response_box_api }}"
            hx-target="#response-box"
            hx-trigger="click"
            hx-include="#fund_id"
            hx-swap="beforeend"
    >
            ↑
    </button>
</div>