<aside class="fixed top-0 left-0 h-screen w-64 bg-[#E6E6E6] dark:bg-[#2D2D2D] shadow-lg overflow-y-auto z-20">
    <div class="mt-4 ml-4 flex flex-col items-start space-y-4">
        <div>
            <img src="/static/Bitswan logo.svg" class="dark:hidden h-6">
            <img src="/static/Bitswan logo white.svg" class="hidden dark:block h-6">
        </div>

         <div class="flex flex-col space-y-4">
             <a href="/new-chat" class="flex items-center">
                <img src="/static/forum.svg" class="h-6 dark:hidden cursor-pointer hover:opacity-80">
                <img src="/static/forum white.svg" class="h-6 hidden dark:block cursor-pointer hover:opacity-80">
                <span class="text-sm text-primary dark:text-primary-dark ml-2">New chat</span>
              </a>

              <div class="flex items-center">
                <img src="/static/Vector.svg" class="h-6 dark:hidden cursor-pointer hover:opacity-80">
                <img src="/static/Vector white.svg" class="h-6 hidden dark:block cursor-pointer hover:opacity-80">
                <span class="text-sm text-primary dark:text-primary-dark ml-2">Search chats</span>
              </div>
            </div>
        </div>

    <nav class="flex flex-col p-4 space-y-2 text-primary dark:text-primary-dark">
    {% for chat in chats %}
      <a href="/?chat_id={{ chat.token }}" data-chat-id="{{ chat.token }}" class="hover:bg-secondary dark:hover:bg-secondary-dark px-4 py-2 rounded">
          {{ chat.chat_id }}
      </a>

    {% endfor %}
    </nav>

</aside>