<aside class="fixed top-0 left-0 h-screen w-64 bg-[#E6E6E6] dark:bg-[#2D2D2D] shadow-lg overflow-y-auto z-20">
    <div class="mt-4 ml-4 flex justify-between">
      <div>
        <img src="/static/Bitswan logo.svg" class="dark:hidden h-6">
        <img src="/static/Bitswan logo white.svg" class="hidden dark:block h-6">
      </div>

      <div class="flex pr-4">
        <img src="/static/Vector.svg" class="h-6 ml-3 dark:hidden">
        <img src="/static/Vector white.svg" class="h-6 ml-3 hidden dark:block">
        <img src="/static/forum.svg" class="h-6 ml-2 dark:hidden">
        <img src="/static/forum white.svg" class="h-6 ml-2 hidden dark:block">
      </div>
    </div>
    <nav class="flex flex-col p-4 space-y-2 text-primary dark:text-primary-dark">
    {% for chat in chats %}
      <a href="/?chat_id={{ chat.token }}" data-chat-id="{{ chat.token }}" class="hover:bg-secondary dark:hover:bg-secondary-dark px-4 py-2 rounded">
          {{ chat.chat_id }}
      </a>

    {% endfor %}
    </nav>

</aside>