<div
    id="webchat_response_with_request"
    class="webchat_response fade-in px-8 py-8 flex gap-4 items-center text-primary dark:text-primary-dark border-b border-secondary w-[90%]"
    ><style>
      .fade-in {
        opacity: 0;
        transform: translateY(10px);
        animation: fadeSlideIn 0.6s ease forwards;
      }

      @keyframes fadeSlideIn {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
    <div class="response-text">
        {{ response_text | safe }}
    </div>

    <div id="api_request"
        hx-get="/api/proxy?url=https://run.mocky.io/v3/1e17cf34-ab78-40b9-8512-136e290a43c2"
        hx-trigger="load"
        hx-swap="innerHTML"
        class="text-secondary"
    >
        <span id="loading_spinner">Loading...</span>
    </div>
</div>
