name: Build and Push Dockserver Docker Image

on:
  push:
    branches: [ master ]
    paths:
      - 'docserver/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - name: Get Year and Commit Hash
      id: vars
      run: |
        echo "::set-output name=year::$(date +%Y)"
        echo "::set-output name=commit_hash::$(git rev-parse --short HEAD)"

    - name: Build and Push
      run: bash docserver/build_and_push.sh
