<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Info</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>

</head>
<body class="bg-cyan-50 flex justify-center items-center h-screen">

    <img src="/static/Bitswan logo.svg" alt="Logo" class="fixed top-4 left-4 w-36 h-auto">

    <div class="bg-white p-8 pr-0 rounded-lg shadow-lg w-[50%] max-w-screen-lg h-[90%] flex flex-col relative">

        <div class="flex-grow"></div>

        {% include "components/welcome-message-box.html" %}

        {% include "components/response-box.html" %}

        {% include "components/prompt-box.html" %}
    </div>

</body>
</html>
